################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/CVGenerare.UI/.vs/CVGenerare.UI
/CVGenerare.UI/obj
/CVGenerare.UI/bin/Debug/net9.0-windows
/CVGenerare.UI/.vs/ProjectEvaluation
